<section class="grid grid-cols-2 w-full h-screen  shadow-xl">
    
    <div class="flex justify-center items-center w-auto bg-amber-400">
        <div class="flex flex-wrap justify-center items-center w-120 h-150  bg-acento">
            <div class="w-auto bg-amber-300">
                <h1>hoal</h1>
            </div>
            <div class="w-auto  bg-primario">
                <p>Estudiante de ingieneria en computacion e informatica de 20 años, en busca de <br> 
                    un trabajo  que me entregue un desarrollo a nivel personal que tenga 
                    <br> efecto  en un futuro con grandes ambiciones. </p>	
            </div>
        </div>
    </div>

    <div class="bg-amber-800">

    </div>
</section>