<nav class=" bg-opacity-50 bg-black/85 flex p-4">
    <ul class="flex flex-wrap gap-x-5 mx-auto items-center">
        <li><a onclick="irPagina('inicio')" class="text-amber-50 ">Inicio </a></li>
        <li><a onclick="irPagina('contacto')" class="text-amber-50 ">Contacto</a></li>
        <li><a onclick="irPagina('proyecto')" class="text-amber-50 ">Proyectos</a></li>
        <li><a onclick="irPagina('github')" class="text-amber-50 ">Github</a></li>
        <li><a onclick="irPagina('bitbucket')" class="text-amber-50 ">Bitbucket</a></li>
    </ul>
</nav>