<nav class="bg-secundario text-primario shadow-xl ">
    <!-- this part is for format web-->
    <div class="flex items-center justify-between p-4 space-x-4 mx-60">
        <div class="flex items-center  space-x-4 " >
            <img src="perroYo.jpg" alt="" class="rounded-full h-12 w-12">
            <h1>Rodrigo Cerda</h1>
        </div>
        <ul class="flex-wrap gap-x-5 items-center p-2  space-x-4 ">
            <a class="btn-primary" [routerLink]="['/']" fragment="proyectos" >Proyectos</a>
            <a class="btn-primary" [routerLink]="['/']" fragment="inicio" >Sobre mi</a>
            <a class="btn-primary" [routerLink]="['/']" fragment="contactos" >Contacto</a>
            
        </ul>
    </div>
    <!-- this part is for format mobile -->

</nav>