<section  class="flex items-center justify-center w-full h-screen text-secundario ">
    <div class="flex flex-wrap justify-center w-200  gap-10">
        <div class="w-auto ">
            <h1 class="text-center text-6xl">Hola, mi nombre es Rodrigo</h1>
        </div>
        <div class="w-auto  ">
            <p class="text-center text-xl">
                Estudiante de ingieneria en computacion e informatica de 20 años, en busca de <br> 
                un trabajo  que me entregue un desarrollo a nivel personal que tenga 
                <br> efecto  en un futuro con grandes ambiciones. </p>
        </div>  
        <div>
            <button class="btn-primary"> Proyectos</button>
        </div>     
    </div>
</section>