/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";

@theme {
    --color-primario: #F5F5F5;
    --color-secundario:  #333333;
    --color-acento: #007ACC;
    --color-fondo: #EAEAEA;
  }
  
@layer components {
    .btn-primary {
      border-radius: calc(infinity * 1px);
      background-color: var(--color-amber-300);
      padding-inline: --spacing(5);
      padding-block: --spacing(2);
      font-weight: var(--font-weight-semibold);
      color: var(--color-white);
      box-shadow: var(--shadow-md);
      &:hover {
        @media (hover: hover) {
          background-color: var(--color-violet-700);
        }
      }
    }
  }
