<!DOCTYPE html>
<html lang="es">

<head>
    <title>Portafolio</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
</head>

<body>
    <header>
        <nav class="barraInicio">
            <ul>
                <li><a onclick="irPagina('inicio')">Inicio </a></li>
                <li><a onclick="irPagina('contacto')">Contacto</a></li>
                <li><a onclick="irPagina('proyecto')">Proyectos</a></li>
                <li><a onclick="irPagina('github')">Github</a></li>
                <li><a onclick="irPagina('bitbucket')">Bitbucket</a></li>
            </ul>
        </nav>
    </header>
    <!-- <div class="botonPru">
        <h1 class="contenido">
            R
        </h1>
    </div>
    <div id="barraMenu barraMenu_off">

    </div> -->
    <section id="biografia">
        <h1>RODRIGO HERNAN CERDA CALAPUJA</h1>
        <p>Estudiante de ingieneria en computacion e informatica de 20 años, en busca de un trabajo que me entregue un
            desarrollo a nivel personal que tenga efecto en un futuro con grandes ambiciones. </p>
    </section>
    <h2>Proyectos</h2>
    <section id="proyectos" class="gap-8 columns-3xs grid grid-cols-2 sm:grid-cols-3 items-center">

        <div class="proyecto bg-sky-600">
            <h2>Proyecto Api Rest</h2>
            <p>Este es un proyecto de api rest en el framework de Laravel y se conceta a postgreSQL</p>
            <button>IR REPOSITORIO</button>
        </div>
        <div class="proyecto">
            <h2>Proyecto Frontend</h2>
            <p>Este es un proyecto donde se llama a un api rest y luego se muestra en una pagina web una lista de
                los
                datos del backend. Esto fue desarrollado en el framework de Angular.js con Bootstrap</p>
            <button>IR REPOSITORIO</button>
        </div>
        <div class="proyecto">
            <h2>Proyecto Frontend</h2>
            <p>Este es un proyecto donde se llama a un api rest y luego se muestra en una pagina web una lista de
                los
                datos del backend. Esto fue desarrollado en el framework de Angular.js con Bootstrap</p>
            <button>IR REPOSITORIO</button>
        </div>
        <div class="proyecto">
            <h2>Proyecto Frontend</h2>
            <p>Este es un proyecto donde se llama a un api rest y luego se muestra en una pagina web una lista de
                los
                datos del backend. Esto fue desarrollado en el framework de Angular.js con Bootstrap</p>
            <button>IR REPOSITORIO</button>
        </div>
        <div class="proyecto">
            <h2>Proyecto Frontend</h2>
            <p>Este es un proyecto donde se llama a un api rest y luego se muestra en una pagina web una lista de
                los
                datos del backend. Esto fue desarrollado en el framework de Angular.js con Bootstrap</p>
            <button>IR REPOSITORIO</button>
        </div>
        <div class="proyecto">
            <h2>Proyecto Frontend</h2>
            <p>Este es un proyecto donde se llama a un api rest y luego se muestra en una pagina web una lista de
                los
                datos del backend. Esto fue desarrollado en el framework de Angular.js con Bootstrap</p>
            <button>IR REPOSITORIO</button>
        </div>

        <div class="proyecto">
            <h2>Proyecto Frontend</h2>
            <p>Este es un proyecto donde se llama a un api rest y luego se muestra en una pagina web una lista de
                los
                datos del backend. Esto fue desarrollado en el framework de Angular.js con Bootstrap</p>
            <button>IR REPOSITORIO</button>
        </div>

        <div class="proyecto">
            <h2>Proyecto Frontend</h2>
            <p>Este es un proyecto donde se llama a un api rest y luego se muestra en una pagina web una lista de
                los
                datos del backend. Esto fue desarrollado en el framework de Angular.js con Bootstrap</p>
            <button>IR REPOSITORIO</button>
        </div>


    </section>
    <h2>Lenguajes</h2>
    <section id="lenguajes" >
        <div class="lenguaje">
            <img src="c.svg" class="sm" >
            <h2>C</h2>
        </div>
        <div class="lenguaje">
            <img src="python.svg" class="sm">
            <h2>Python</h2>
        </div>
        <div class="lenguaje">
            <img src="terminal.png" class="sm">
            <h2>Terminal</h2>
        </div>
        <div class="lenguaje">
            <img src="html5.svg" class="sm">
            <h2>Html</h2>
        </div>
        <div class="lenguaje">
            <img src="css3.svg" class="sm">
            <h2>Css</h2>
        </div>
        <div class="lenguaje">
            <img src="git.svg" class="sm">
            <h2>Git</h2>
        </div>
        <div >
            <img src="mysql.svg" class="2xl">
            <h2>Mysql</h2>
        </div>
        <div class="lenguaje">
            <img src="docker.svg" class="sm">
            <h2>Docker</h2>
        </div>
        <div class="lenguaje">
            <img src="angularjs.svg" class="sm">
            <h2>Angular</h2>
        </div>
        <div class="lenguaje">
            <img src="javascript.svg" class="sm">
            <h2>JavaScript</h2>
        </div>
        <div class="lenguaje">
            <img src="postgresql.svg" class="sm">
            <h2>PostgreSql</h2>
        </div>

    </section>
    <footer>
        <a href="#titulo">Ir al comienzo</a>
        <a id="contacto" href="mailto:rodrigocerdac911@gmail.com">Contáctame aquí</a>
        <p>Copyright 2023</p>
    </footer>


</body>

<div class="mx-auto flex max-w-sm items-center gap-x-4 rounded-xl bg-white p-6 shadow-lg outline outline-black/5 dark:bg-slate-800 dark:shadow-none dark:-outline-offset-1 dark:outline-white/10">
    <img class="size-12 shrink-0" src="angularjs.svg" alt="ChitChat Logo" />
    <div>
      <div class="text-xl font-medium text-black dark:text-white">ChitChat</div>
      <p class="text-gray-500 dark:text-gray-400">You have a new message!</p>
    </div>
  </div>

</html>