<body  class=" bg-fondo">

    <app-page-init></app-page-init>
    <app-about></app-about>

    <section id="proyectos" class="flex flex-auto justify-center text-secundario">
        <div class="py-20 ">
            <h1 class="text-center text-6xl ">Proyectos</h1>
        </div>
    </section>
    
    <section class="gap-8 columns-3 grid grid-cols-1 sm:grid-cols-1 mx-60 place-content-center">

        <app-proyect 
            img="angularjs.svg"
            description="Este es un proyecto donde se llama a un api rest y luego se muestra en una pagina web una lista de los
            datos del backend. Esto fue desarrollado en el framework de Angular.js con Bootstrap como en esta vida eesta es juna prueba oara cer coomo pasa las coass
            en esta vida e yi sisneon onqgoirngeoregneoqgnoqngoerngoen                   "
            imgAlt="Playa paradisíaca"
            title="Proyecto Frontend"
            url="https://example.com">
        </app-proyect>

        <app-proyect 
            img="angularjs.svg"
            description="Este es un proyecto donde se llama a un api rest y luego se muestra en una pagina web una lista de los
            datos del backend. Esto fue desarrollado en el framework de Angular.js con Bootstrap"
            imgAlt="Playa paradisíaca"
            title="Proyecto Frontend"
            url="https://example.com">
        </app-proyect>

        <app-proyect 
            img="angularjs.svg"
            description="Este es un proyecto donde se llama a un api rest y luego se muestra en una pagina web una lista de los
            datos del backend. Esto fue desarrollado en el framework de Angular.js con Bootstrap"
            imgAlt="Playa paradisíaca"
            title="Proyecto Frontend"
            url="https://example.com">
        </app-proyect>

        <app-proyect 
            img="angularjs.svg"
            description="Este es un proyecto donde se llama a un api rest y luego se muestra en una pagina web una lista de los
            datos del backend. Esto fue desarrollado en el framework de Angular.js con Bootstrap"
            imgAlt="Playa paradisíaca"
            title="Proyecto Frontend"
            url="https://example.com">
        </app-proyect>

        <app-proyect 
            img="angularjs.svg"
            description="Este es un proyecto donde se llama a un api rest y luego se muestra en una pagina web una lista de los
            datos del backend. Esto fue desarrollado en el framework de Angular.js con Bootstrap"
            imgAlt="Playa paradisíaca"
            title="Proyecto Frontend"
            url="https://example.com">
        </app-proyect>

        <app-proyect 
            img="angularjs.svg"
            description="Este es un proyecto donde se llama a un api rest y luego se muestra en una pagina web una lista de los
            datos del backend. Esto fue desarrollado en el framework de Angular.js con Bootstrap"
            imgAlt="Playa paradisíaca"
            title="Proyecto Frontend"
            url="https://example.com">
        </app-proyect>


        <app-proyect 
            img="angularjs.svg"
            description="Este es un proyecto donde se llama a un api rest y luego se muestra en una pagina web una lista de los
            datos del backend. Esto fue desarrollado en el framework de Angular.js con Bootstrap"
            imgAlt="Playa paradisíaca"
            title="Proyecto Frontend"
            url="https://example.com">
        </app-proyect>


        <app-proyect 
            img="angularjs.svg"
            description="Este es un proyecto donde se llama a un api rest y luego se muestra en una pagina web una lista de los
            datos del backend. Esto fue desarrollado en el framework de Angular.js con Bootstrap"
            imgAlt="Playa paradisíaca"
            title="Proyecto Frontend"
            url="https://example.com">
        </app-proyect>


        <app-proyect 
            img="angularjs.svg"
            description="Este es un proyecto donde se llama a un api rest y luego se muestra en una pagina web una lista de los
            datos del backend. Esto fue desarrollado en el framework de Angular.js con Bootstrap"
            imgAlt="Playa paradisíaca"
            title="Proyecto Frontend"
            url="https://example.com">
        </app-proyect>


    </section>
    
    <section class="m-20 text-secundario">
        <div class="">
            <h1 class="text-center text-4xl text-secundario">Lenguajes</h1>
        </div>
    </section>

    <!-- This section is for aggred totaly of lenguage that know-->

    <section class=" mx-60 flex flex-wrap items-center" >
        <div class="flex-auto"><app-languange-coding
                img="c.svg"
                name="C">
            </app-languange-coding>
        </div>
        <div class="flex-auto">
            <app-languange-coding
                img="python.svg"
                name="Python">
            </app-languange-coding>
        </div>
        <div class="flex-auto">
            <app-languange-coding
                img="angularjs.svg"
                name="Angular">
            </app-languange-coding>
        </div>
        <div class="flex-auto">
            <app-languange-coding
                img="css3.svg"
                name="Css">
            </app-languange-coding>
        </div>
        <div class="flex-auto">
            <app-languange-coding
                img="html5.svg"
                name="Html">
            </app-languange-coding>
        </div>
        <div class="flex-auto">
            <app-languange-coding
                img="git.svg"
                name="Git">
            </app-languange-coding>
        </div>
        <div class="flex-auto">
            <app-languange-coding
                img="github.svg"
                name="Github">
            </app-languange-coding>
        </div>
        <div class="flex-auto">
            <app-languange-coding
                img="docker.svg"
                name="Docker">
            </app-languange-coding>
        </div>
        <div class="flex-auto">
            <app-languange-coding
                img="mysql.svg"
                name="Mysql">
            </app-languange-coding>
        </div>
        <div class="flex-auto">
            <app-languange-coding
                img="postgresql.svg"
                name="Postgresql">
            </app-languange-coding>
        </div>
        <div class="flex-auto">
            <app-languange-coding
                img="bitbucket.svg"
                name="Bitbucket">
            </app-languange-coding>
        </div>
        
    </section>
    
</body>

