<!DOCTYPE html>
<html lang="es">

<head>
    <title>Portafolio</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
</head>

<body>
    <header>
        <nav class="barraInicio">
            <ul>
                <li><a onclick="irPagina('inicio')">Inicio </a></li>
                <li><a onclick="irPagina('contacto')">Contacto</a></li>
                <li><a onclick="irPagina('proyecto')">Proyectos</a></li>
                <li><a onclick="irPagina('github')">Github</a></li>
                <li><a onclick="irPagina('bitbucket')">Bitbucket</a></li>
            </ul>
        </nav>
    </header>
    <!-- <div class="botonPru">
        <h1 class="contenido">
            R
        </h1>
    </div>
    <div id="barraMenu barraMenu_off">

    </div> -->
    <section id="biografia">
        <h1>RODRIGO HERNAN CERDA CALAPUJA</h1>
        <p>Estudiante de ingieneria en computacion e informatica de 20 años, en busca de un trabajo que me entregue un
            desarrollo a nivel personal que tenga efecto en un futuro con grandes ambiciones. </p>
    </section>
    <div class="gap-8  grid grid-cols-1  items-center p-20">
        <h2>Proyectos</h2>
    </div>
    <section id="proyectos" class="gap-8 columns-3 grid grid-cols-1 sm:grid-cols-2 p-20 place-content-center">

        <app-proyect 
            img="angularjs.svg"
            description="Este es un proyecto donde se llama a un api rest y luego se muestra en una pagina web una lista de los
            datos del backend. Esto fue desarrollado en el framework de Angular.js con Bootstrap como en esta vida eesta es juna prueba oara cer coomo pasa las coass
            en esta vida e yi sisneon onqgoirngeoregneoqgnoqngoerngoen                   "
            imgAlt="Playa paradisíaca"
            title="Proyecto Frontend"
            url="https://example.com">
        </app-proyect>

        <app-proyect 
            img="angularjs.svg"
            description="Este es un proyecto donde se llama a un api rest y luego se muestra en una pagina web una lista de los
            datos del backend. Esto fue desarrollado en el framework de Angular.js con Bootstrap"
            imgAlt="Playa paradisíaca"
            title="Proyecto Frontend"
            url="https://example.com">
        </app-proyect>

        <app-proyect 
            img="angularjs.svg"
            description="Este es un proyecto donde se llama a un api rest y luego se muestra en una pagina web una lista de los
            datos del backend. Esto fue desarrollado en el framework de Angular.js con Bootstrap"
            imgAlt="Playa paradisíaca"
            title="Proyecto Frontend"
            url="https://example.com">
        </app-proyect>

        <app-proyect 
            img="angularjs.svg"
            description="Este es un proyecto donde se llama a un api rest y luego se muestra en una pagina web una lista de los
            datos del backend. Esto fue desarrollado en el framework de Angular.js con Bootstrap"
            imgAlt="Playa paradisíaca"
            title="Proyecto Frontend"
            url="https://example.com">
        </app-proyect>

        <app-proyect 
            img="angularjs.svg"
            description="Este es un proyecto donde se llama a un api rest y luego se muestra en una pagina web una lista de los
            datos del backend. Esto fue desarrollado en el framework de Angular.js con Bootstrap"
            imgAlt="Playa paradisíaca"
            title="Proyecto Frontend"
            url="https://example.com">
        </app-proyect>

        <app-proyect 
            img="angularjs.svg"
            description="Este es un proyecto donde se llama a un api rest y luego se muestra en una pagina web una lista de los
            datos del backend. Esto fue desarrollado en el framework de Angular.js con Bootstrap"
            imgAlt="Playa paradisíaca"
            title="Proyecto Frontend"
            url="https://example.com">
        </app-proyect>


        <app-proyect 
            img="angularjs.svg"
            description="Este es un proyecto donde se llama a un api rest y luego se muestra en una pagina web una lista de los
            datos del backend. Esto fue desarrollado en el framework de Angular.js con Bootstrap"
            imgAlt="Playa paradisíaca"
            title="Proyecto Frontend"
            url="https://example.com">
        </app-proyect>


        <app-proyect 
            img="angularjs.svg"
            description="Este es un proyecto donde se llama a un api rest y luego se muestra en una pagina web una lista de los
            datos del backend. Esto fue desarrollado en el framework de Angular.js con Bootstrap"
            imgAlt="Playa paradisíaca"
            title="Proyecto Frontend"
            url="https://example.com">
        </app-proyect>


        <app-proyect 
            img="angularjs.svg"
            description="Este es un proyecto donde se llama a un api rest y luego se muestra en una pagina web una lista de los
            datos del backend. Esto fue desarrollado en el framework de Angular.js con Bootstrap"
            imgAlt="Playa paradisíaca"
            title="Proyecto Frontend"
            url="https://example.com">
        </app-proyect>


    </section>
    <h2>Lenguajes</h2>
    <div class=" mx-auto flex flex-wrap bg-amber-200 items-center" >
        <div class="flex-auto">
            <img src="c.svg" class="mx-auto" >
            <h2 class="text-center">C</h2>
        </div>
        <div class="flex-auto">
            <img src="python.svg" class="mx-auto">
            <h2 class="text-center">Python</h2>
        </div>
        <div class="flex-auto">
            <img src="html5.svg" class="mx-auto">
            <h2 class="text-center">Html</h2>
        </div>
        <div class="flex-auto">
            <img src="css3.svg" class="mx-auto">
            <h2 class="text-center">Css</h2>
        </div>
        <div class="flex-auto">
            <img src="git.svg" class="mx-auto">
            <h2 class="text-center">Git</h2>
        </div>
        <div class="flex-auto">
            <img src="mysql.svg" class="mx-auto">
            <h2 class="text-center">Mysql</h2>
        </div>
        <div class="flex-auto">
            <img src="docker.svg" class="mx-auto">
            <h2 class="text-center">Docker</h2>
        </div>
        <div class="flex-auto">
            <img src="angularjs.svg" class="mx-auto">
            <h2 class="text-center">Angular</h2>
        </div>
        <div class="flex-auto">
            <img src="javascript.svg" class="mx-auto">
            <h2 class="text-center">JavaScript</h2>
        </div>
        <div class="flex-auto">
            <img src="postgresql.svg" class="mx-auto">
            <h2 class="text-center">PostgreSql</h2>
        </div>

    </div>
    <footer>
        <a href="#titulo">Ir al comienzo</a>
        <a id="contacto" href="mailto:rodrigocerdac911@gmail.com">Contáctame aquí</a>
        <p>Copyright 2023</p>
    </footer>


</body>

<div class="mx-auto flex max-w-sm items-center gap-x-4 rounded-xl bg-white p-6 shadow-lg outline outline-black/5 dark:bg-slate-800 dark:shadow-none dark:-outline-offset-1 dark:outline-white/10">
    <img class="size-12 shrink-0" src="angularjs.svg" alt="ChitChat Logo" />
    <div>
      <div class="text-xl font-medium text-black dark:text-white">ChitChat</div>
      <p class="text-gray-500 dark:text-gray-400">You have a new message!</p>
    </div>
  </div>

</html>